[doap.com]
user = dave
doap.com_consumer_key = yourkey
doap.com_consumer_secret = yoursecret
openai.api_key = youropenaikey
[sanramon.doap.com]
user = dave
sanramon.doap.com_consumer_key = yourkey
sanramon.doap.com_consumer_secret = yoursecret
openai.api_key = youropenaikey
[danville.doap.com]
user = dave
city = "Danville"
phone = "925-553-4710"
danville.doap.com_consumer_key = yourkey
danville.doap.com_consumer_secret = yoursecret
openai.api_key = youropenaikey
